*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carusel{
    width: 100%;
}
.carusep__container{
    width: 922px;
    margin: auto;
    overflow: hidden;
}

.carusep__container img{
    display: block;
    width: 100%;
}

.corusel__slide{
    display: flex;
    height: 500px;
}
.btnAll{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn{
    color: rgba(255, 12, 12, 0.49);
    padding: 10px;
    background: none;
    border-radius: 50%;
    font-size: 55px;
    outline: 0;
    border: none;
}
.btn-right{
    right: 41%;
}
.btn-left{
    left: 41%;
}
.transformAnimation{
    transition: .4s all ease-in-out;
}

@media screen and (max-width: 922px){
    .carusep__container{
        width: 100%;
    }
    .corusel__slide{
        height: auto;
        max-height: 400px;
    }
}
@media screen and (max-width: 320px){
    .btn{
        font-size: 45px;
    }
}